body {
    background: white;
    font: 14px "Open Sans", sans-serif;
}
.carousel-indicators .active {
    background-color: rgb( 0, 199, 252 );
}
.carousel-control .left-control,
.carousel-control .right-control {
    position: absolute;
    top: 50%;
    z-index: 5;
}
.carousel-control .left-control {
    left: 45px;
}
.carousel-control .right-control {
    right: 45px;
}
.carousel-caption {
    left: 0;
    top: 0;
    z-index: 11;
    text-align: left;
}
.carousel-caption > div {
    background-color: rgba(15,116,143,0.8);
    padding: 55px 50px 80px 20%;
    position: absolute;
    top: 30%;
    width: 76%;
}
.carousel-inner h2 {
    color: #ffffff;
    font-size: 30px;
    line-height: 50px;
    margin-bottom: 20px;
    text-shadow: none;
    text-transform: uppercase;
    font-weight: 500;
}
.carousel-inner p {
    color: #FFFFFF;
    line-height: 28px;
    font-size: 13px;
    margin-top: 0;
    text-shadow: none;
}
.first-slide {
    background-image: url('../images/nocturnal_1920x12001.jpg');
}
.second-slide {
    background-image: url('../images/delusions_of_grandeur_1920x1080.jpg');
}
.third-slide {
    background-image: url('../images/delusions_of_grandeur_1920x1080.jpg');
}
.carousel-inner .item {
    background-size: cover;
}
.navbar {
    position: absolute;
    top: 0;
    height: 95px;
    left: 0;
    right: 0;
    margin: 0 auto;
}
.nav-inner {
    width: 100%;
    border-bottom: 1px solid #636364;
}
.navbar-form {
    margin-top: 25px;
}
.navbar-nav > li {
    margin-top: 20px;
}
.navbar-nav > li > a {
    padding-bottom: 30px;
    font-size: 13px;
    color: white;
    padding-left: 25px;
    padding-right: 25px;
}

#navbar-nav > li:hover {
    border-bottom: 1px solid rgb( 0, 199, 252 );
}

.navbar-nav > li.active > a,
.navbar-nav > li > a:hover {
    background: transparent;
    border-bottom: 1px solid;
    color: rgb( 0, 199, 252 );
    margin-bottom: -1px;
}
.navbar-nav > li > a:focus {
    background: transparent;
}
.navbar-brand {
    padding: 25px 15px;
}

.services {
    padding: 90px 0;
}
.services .media {
    padding-bottom: 50px;
    padding-left: 20px;
}
.services .media:first-child {
    margin-top: 0;
}
.media-body {
    display: table-cell;
    vertical-align: top;
}
.media .media-body h3 {
    color: #00C7FC;
    font-weight: 400;
    font-size: 23px;
    margin-bottom: 15px;
    margin-top: 0;
}
.media-body p {
    color: #A8A8A8;
    font-size: 14px;
    line-height: 24px;
}
.media .image {
    margin-right: 60px;
}
.section-title {
    margin: 0 auto 85px;
    width: 420px;
    text-align: center;
}
.section-title h2 {
    color: #1f2021;
    font-size: 32px;
    position: relative;
    margin-bottom: 25px;
    padding-bottom: 27px;
    text-transform: uppercase;
    font-weight: 500;
}
.section-title h2:before {
    border-bottom: 1px solid #1f2021;
    bottom: 0;
    content: "";
    left: 50%;
    margin-left: -50px;
    position: absolute;
    width: 100px;
}
.section-title h2:after {
    background: none repeat scroll 0 0 #fff;
    border: 1px solid #1F2021;
    border-radius: 25px;
    bottom: -5px;
    content: "";
    height: 11px;
    left: 50%;
    margin-left: -5.5px;
    position: absolute;
    width: 11px;
}
.section-title p {
    color: #A8A8A8;
    line-height: 25px;
    font-weight: 300;
    font-size: 14px;
}